# KOALAS API

Vamos a dar algunos ejemplos de uso de Koalas para comprender mejor su funcionamiento. Recordamos que tenemos datasets distribuidos pero podemos trabajar con ellos con el código propio de Pandas. Lo primero que necesitamos es generar Koala Dataframes.

In [1]:
import databricks.koalas as ks
import pandas as pd
import numpy as np
from pyspark.sql import SparkSession

WARNING:root:Found pyspark version "3.2.0" installed. The pyspark version 3.2 and above has a built-in "pandas APIs on Spark" module ported from Koalas. Try `import pyspark.pandas as ps` instead.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

Para crear Koalas Dataframes tenemos múltiples posibilidades. Vamos a ver unas cuantas:

1) A partir de un diccionario con los datos:

In [2]:
koalas_df = ks.DataFrame(
    {'a': [1, 2, 3, 4, 5, 6],
     'b': [100, 200, 300, 400, 500, 600],
     'c': ["one", "two", "three", "four", "five", "six"]},
    index=[10, 20, 30, 40, 50, 60])

22/07/05 01:05:31 WARN Utils: Your hostname, lu-Aspire-A515-55 resolves to a loopback address: 127.0.1.1; using 192.168.1.55 instead (on interface wlp0s20f3)
22/07/05 01:05:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/07/05 01:05:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/07/05 01:05:33 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
koalas_df

    a    b      c
10  1  100    one
20  2  200    two
30  3  300  three
40  4  400   four
50  5  500   five
60  6  600    six

2) A partir de un Dataframe de Pandas:

In [4]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])

In [5]:
koalas_df = ks.from_pandas(df)

In [6]:
koalas_df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

3) A partir de un Dataframe de Spark:

In [7]:
spark = SparkSession.builder.getOrCreate()
spark_df = spark.createDataFrame(df)

In [8]:
koalas_df = spark_df.to_koalas()

In [9]:
koalas_df

22/07/05 01:05:39 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/07/05 01:05:39 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Una vez tenemos el Dataframe de Koalas podemos trabajar sobre el como si fuera un Dataframe de Pandas a nivel de código, pero la computación se realizará de forma distribuida. Por tanto esta librería resulta particularmente útil en el contexto de este trabajo para la fase de exploración y visualización de los datos.